<h1>Contacts</h1>
<form class="search" action="/search" method="post">
  <input type="text" name="search" placeholder="search">

  <input type="submit" value="Submit">
</form>


<ul>
  <% if !@relative_contacts %>
    <% @contacts.each do |contact| %>
      <li><a href="/<%= contact.id %>"><%= contact.name %></a> - <%= contact.phone_number %></li>
    <% end %>
  <% else %>
    <% @relative_contacts.each do |contact| %>
      <li><a href="/<%= contact.id %>"><%= contact.name %></a> - <%= contact.phone_number %></li>
    <% end %>
  <% end %>
</ul>
