<h1>Movies</h1>
<% if @movies.to_a.empty? %>
  <% "There are no movies available!" %>
<% else %>
  <ul>
  <% @movies.each do |movie| %>
    <li>
      <a href = "/movies/<%= movie['id'] %>" target=newtab>
        <%= movie["title"] %>
      </a>
      <%= movie["year"] %>
      <%= movie["rating"] %>
      <%= movie["genre"] %>
      <%= movie["studio_name"] %>
    </li>
  <% end %>
  </ul>
<% end %>
